.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;

  height: 400px;
  overflow: auto;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

li.error.resp {
  color: red;
}

li.resp {
  color: white;
}

.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li.resp:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 20px;
  min-height: 20px;
}

.shell-body li.resp {
  padding: 0;
}

.shell-body li a {
  color: bisque;
  text-decoration: none;
}

.shell-body li a:hover {
  text-decoration: underline;
}

.helpitem {
  width: 100px;
  display: inline-block;
}

.theme-light.shell-body {
  background: beige;
  color: black;
  font-family: Helvetica;
  border: 1px solid #999;
}

.theme-light.shell-body li.resp {
  color: black;
  font-weight: normal;
}

.theme-light li.error.resp {
  color: red;
}

.theme-light.shell-body li {
  font-weight: bold;
}

.theme-light.shell-body li a {
  color: orange;
  font-weight: bold;
}

#preview {
  position: relative;
}

.detection-box {
  position: absolute;
  border: 2px solid red;
}

.detection-class {
  position: absolute;
  top: -40px;
  left: -25px;
  background: rgba(0, 0, 134, 0.6);
  padding: 5px;
  z-index: 10000;
  color: white;
  white-space: nowrap;
}

#streamer {
  position: relative;
}

#streamer_box {
  position: absolute;
  top: 0;
  left: 0;
}